@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<div class="row-fluid">
    <div class="span12">
        @*//for free icon // Thanks For them to provide free resourse
            //http://www.greenleafimaging.com/blog/2011/08/social-media-icons/*@
        <p>Use this area to provide additional information.</p>
        <div class="raw">
            Follow us on the Social media
            <div class="">
                <a href="http://www.facebook.com" target="_blank">
                    <img src="~/Images/Page/GreenLeaf_Imaging_social_media_circle_icons/32/facebook.png" />
                </a>
                <a href="http://www.google.com" target="_blank">
                    <img src="~/Images/Page/GreenLeaf_Imaging_social_media_circle_icons/32/google.png" />
                </a>
                <a href="http://www.youtube.com" target="_blank">
                    <img src="~/Images/Page/GreenLeaf_Imaging_social_media_circle_icons/32/youtube.png" />
                </a>
                <a href="http://www.twitter.com" target="_blank">
                    <img src="~/Images/Page/GreenLeaf_Imaging_social_media_circle_icons/32/twitter.png" />
                </a>
            </div>
        </div>

    </div>
</div>