@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>

</hgroup>
<div class="raw">
    @Html.Raw((String)ViewBag.Message1)
    <div class="col-lg-5">
    </div>
</div>
<div class="raw">

</div>


